body {
    background-color: #fffef4;

}

#meetings {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 20vw; */
    background-color: #fffef4;
    position: fixed;
    top: 25vw;
    left:10vw;
    /* right: auto; */
}