.logo{
    width: 15vw;
    height: 12.5vw;
    position: fixed;
    left: 0%;
    top: 8vw;
}
.botton{
    background-color:#fffef4 ;
    border: solid 3px #dec071;
    color:#544541;
    position: fixed;
    top: 2vw;
    right:2vw;      

}
.botton:hover{
    border: solid 3px #544541;
}